<div id="<%= modal_id %>" class="ui-modal hidden">
  <div id="<%= modal_id %>-content" class="ui-modal-content">
    <h2 class="text-lg font-semibold mb-4 text-center"><%= title %></h2>
    <div class="flex flex-col gap-3">
      <% buttons.forEach(btn=>{ %>
        <button id="<%= btn.id %>" class="ui-modal-btn <%= btn.variant %>"><%= btn.text %></button>
      <% }) %>
    </div>
  </div>
</div>